@import "../../root.scss";
@import "../../styles/responsive.scss";

.login-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  
  @include respond-to('md') {
    flex-direction: row;
  }
}

.login-left {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  
  @include respond-to('md') {
    width: 50%;
    padding: 2rem;
  }
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 1.5rem;
  font-family: var(--font-family-open-sans);
  
  @include respond-to('md') {
    padding: 2rem;
    transform: scale(0.9);
  }
  
  .logo {
    width: 180px;
    margin-bottom: 1rem;
    
    @include respond-to('md') {
      width: 220px;
    }
  }
  p {
    margin-bottom: -20px;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 600;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-space-20);

    .forgot-password-link {
      text-align: right;
      margin: -10px 0 8px;

      a {
        color: var(--color-info-info-500);
        text-decoration: none;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.login-right {
  display: none; // Hide on mobile by default
  
  @include respond-to('md') {
    width: 50%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.875rem;
  }
  
  @include respond-to('lg') {
    padding: 3rem;
  }

  .right-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include respond-to('lg') {
      margin-left: 2.5rem;
    }
  }

  .design-system-cover {
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
  }
}
